name: Run pre-commit

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Development Tools
      uses: ./.github/actions/setup-dev-tools

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
      with:
        extra_args: '--all-files'
